@import url("main.css");

body {
  background-color: var(--dark-background-color);

  min-height: 100dvh;

  display: flex;
  flex-direction: column;

  overflow: hidden;
}

header {
  flex: 0 0 10dvh;
}
#content {
  flex: 1 1 auto;
  min-height: 0;

  width: 100%;
  margin: 0;
  padding: 50px;

  color: white;
  font-size: 20px;

  overflow-y: auto;
  overflow-x: hidden;

  box-sizing: border-box;
}

#logo {
  width: 25%;
  min-width: 100px;
  max-width: 150px;
  margin: 20px;
}

.center {
  display: flex;
  justify-content: center;
}

p {
  text-align: justify;
  text-justify: inter-word;
  font-size: min(4vw, 20px);
}

footer {
    flex: 0 0 auto;

    width: 40%;
    display: flex;
    justify-content: center;

    padding: 10px 0;
    padding-bottom: max(10px, env(safe-area-inset-bottom));
    margin-bottom: 10px;
    box-sizing: border-box;
}
