<!doctype html>
<html>
  <head>
    <title>editor</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/editor.css') }}"
    />
  </head>
  <body>
    <header>
      <img
        id="logo"
        src="{{ url_for('static', filename='img/logo-white.png') }}"
        alt="Logo"
      />
    </header>
    <div id="loading">
      <div class="spinner"></div>
    </div>
    <div id="middle">
      <div id="editor">
        <canvas id="canvas2"></canvas>
        <canvas id="canvas1"></canvas>
      </div>
    </div>
    <footer>
      <button id="saveImage" class="btn btn-primary">Salvar</button>
    </footer>
  </body>
  <script>
    const BASE_URL = "{{ server_url }}";
    const coverImagePath =
      "{{ url_for('static', filename='img/contigo sem fundo.png') }}";
  </script>
  <script src="{{ url_for('static', filename='js/editor.js') }}"></script>
  <script src="{{ url_for('static', filename='js/logo_back.js') }}"></script>
</html>
