<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>termos</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/termos.css') }}"
    />
  </head>
  <body>
    <header>
      <img
        id="logo"
        src="{{ url_for('static', filename='img/logo_roxo.png') }}"
        alt="Logo"
      />
    </header>
    <div id="content">
      <h3 class="center">Leia os termos e condições:</h3>
      <br />
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cursus ut
        integer ipsum id ipsum nulla. Luctus vitae magna arcu at in facilisis.
      </p>
      <p>
        Mollis ultrices amet elit sapien ante mauris id mi dapibus amet a leo id
        purus. Vestibulum sed non urna feugiat aliquet elit. Massa odio congue
        consequat in in est rhoncus at tempus placerat neque vitae. At pharetra
        maecenas ultrices orci eu nec amet magna scelerisque blandit faucibus
        pellentesque. Et viverra ornare scelerisque magna sit scelerisque.
        Varius aenean primis velit vel phasellus cursus mauris hendrerit eu.
        Vitae et vehicula proin vulputate. Pharetra nisl sit fusce ex in elit
        placerat nisl dolor amet ut ultrices.
      </p>
      <p>
        Lobortis sed leo eget elit. Sagittis morbi odio mi nisl in eget feugiat
        tortor rutrum leo scelerisque tristique. Vel mi non volutpat viverra
        eleifend vel eget id morbi ex dapibus non lectus aliquam. Mauris sem ac
        interdum vulputate ligula. Dignissim ante posuere velit ullamcorper
        tristique sagittis pharetra elit. Eros nunc ipsum vel turpis sit
        interdum sed auctor bibendum libero sit nunc tempus. Faucibus interdum
        elit posuere aliquam. Ut purus sem odio sit posuere dolor sed et nibh
        porttitor cras tincidunt.
      </p>
      <p>
        Lobortis sed leo eget elit. Sagittis morbi odio mi nisl in eget feugiat
        tortor rutrum leo scelerisque tristique. Vel mi non volutpat viverra
        eleifend vel eget id morbi ex dapibus non lectus aliquam. Mauris sem ac
        interdum vulputate ligula. Dignissim ante posuere velit ullamcorper
        tristique sagittis pharetra elit. Eros nunc ipsum vel turpis sit
        interdum sed auctor bibendum libero sit nunc tempus. Faucibus interdum
        elit posuere aliquam. Ut purus sem odio sit posuere dolor sed et nibh
        porttitor cras tincidunt.
      </p>
    </div>
    <footer>
      <button id="aceito_termos">Li e aceito os termos e condições</button>
    </footer>
    <script>
      const BASE_URL = "{{ server_url }}";
    </script>
    <script src="{{ url_for('static', filename='js/termos.js') }}"></script>
  </body>
</html>
